div{
    padding: 20px;
}

input{
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 0 0px 5px 0 rgb(0, 4, 255), 0 0px 5px 0 rgb(7, 137, 244)
}
button{
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 0 0px 5px 0 rgb(0, 119, 255), 0 0px 5px 0 rgb(7, 137, 244);
    background-color: rgb(179, 216, 249);
}
th,td{
    border: solid 1px rgb(103, 123, 171);
    padding: 15px;
    margin: 50px;
}