<div class="content-body">
    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h4>Vista de órdenes</h4>
                    <p class="mb-0">Detalle de orden de servicio</p>
                </div>
            </div>
            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="['/admin/index']">App</a></li>
                    <li class="breadcrumb-item "><a [routerLink]="['/admin/mantenimiento-seguimiento']">Seguimiento</a></li>
                    <li class="breadcrumb-item active"><a href="javascript:void(0)">Orden</a></li>
                </ol>
            </div>
        </div>
        <div class="col-xl-12 col-lg-12">
            <div class="card">
                <div class="row" style="margin-left: 20px;">
                    <div class="col-xl-10 col-lg-10">
                        <ol class="breadcrumb breadcrumb-arrow mt-3">
                            <li><a class="color_breadcrumb" href="javascript:void(0)">Solicitud 1</a></li>
                            <li><a class="color_breadcrumb" href="javascript:void(0)">Aprobación 2</a></li>
                            <li><a class="color_breadcrumb" href="javascript:void(0)">En proceso 3</a></li>
                            <li><a class="color_breadcrumb_seleccionado" href="javascript:void(0)">Entrega 4</a></li>
                            <li><a class="color_breadcrumb_faltante" href="javascript:void(0)">Cobranza 5</a></li>
                        </ol>
                    </div>
                    <div class="col-xl-2 col-lg-2 mt-3" style="height: 100%; text-align: center; display: table;">
                        <p
                                style="float: right; padding-right: 30px; font-size: 20px; color: #1C386B; font-weight: bold; display: table-cell; vertical-align: middle; ">
                            2 Días</p>
                    </div>
                </div>

                <div class="row" style="margin: 20px;">
                    <div class="col-xl-5 col-lg-5 border-end tamanoCard">
                        <div>
                            <label class="azul"
                                   style="font-size: 18px; margin-bottom: 0px;">Orden</label>
                            <br>
                            <label class="azul"
                                   style="font-size: 20px; font-weight: bold; margin-bottom: 20px;">167-1043-13781</label>
                        </div>

                        <div class="col-xl-12 col-lg-12 row">
                            <div class="col-xl-4 col-lg-4">
                                <img class="img" src="../../assets/images/ordenes/auto.png" alt="">
                            </div>
                            <div class="col-xl-8 col-lg-8">
                                <label class="data azul_claro">No. Económico</label>
                                <p class="azul" style="font-weight: bold;">8747366542111</p>

                                <label class="data azul_claro">VIN</label>
                                <p class="azul" style="font-weight: bold;">4G1TA5AFHIL134563</p>

                                <div class="row">
                                    <div class="col-xl-4 col-lg-4">
                                        <label class="data azul_claro">Placas:</label>
                                        <p class="azul" style="font-weight: bold;">ACD147</p>

                                    </div>
                                    <div class="col-xl-4 col-lg-4">
                                        <label class="data azul_claro">Modelo:</label>
                                        <p class="azul" style="font-weight: bold;">2020</p>

                                    </div>
                                    <div class="col-xl-4 col-lg-4">
                                        <label class="data azul_claro">Marca:</label>
                                        <p class="azul" style="font-weight: bold;">Peugeot</p>

                                    </div>
                                </div>

                            </div>
                        </div>
                        <hr style="margin-top: 0px; margin-bottom:5px">
                        <div class="row">
                            <div class="col-xl-4 col-lg-4 border-end">
                                <div class="row">
                                    <div class="col-xl-9 col-lg-9">
                                        <label>Placas</label>
                                    </div>
                                    <div class="col-xl-3 col-lg-3">
                                        <img style="width: 15px;" src="../../../../assets/images/ordenes/check-azul.png"
                                             alt="">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xl-9 col-lg-9">
                                        <label>Poliza de seguro</label>
                                    </div>
                                    <div class="col-xl-3 col-lg-3">
                                        <img style="width: 15px;" src="../../../../assets/images/ordenes/check-azul.png"
                                             alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 border-end">
                                <div class="row">
                                    <div class="col-xl-9 col-lg-9">
                                        <label>Taj. Circulación</label>
                                    </div>
                                    <div class="col-xl-3 col-lg-3">
                                        <img style="width: 15px;" src="../../../../assets/images/ordenes/check-azul.png"
                                             alt="">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xl-9 col-lg-9">
                                        <label>Verificación</label>
                                    </div>
                                    <div class="col-xl-3 col-lg-3">
                                        <img style="width: 15px;" src="../../../../assets/images/ordenes/check-azul.png"
                                             alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4">
                                <div class="row">
                                    <div class="col-xl-9 col-lg-9">
                                        <label>Tenencia</label>
                                    </div>
                                    <div class="col-xl-3 col-lg-3">
                                        <img style="width: 15px;" src="../../../../assets/images/ordenes/check-azul.png"
                                             alt="">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xl-9 col-lg-9">
                                        <label>Multas</label>
                                    </div>
                                    <div class="col-xl-3 col-lg-3">
                                        <img style="width: 8px;" src="../../../../assets/images/ordenes/alerta.png"
                                             alt="">
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="col-xl-3 col-lg-3 border-end tamanoCard" style="overflow-y: scroll;">
                        <label class="azul" style="font-size: 16px;  margin-bottom: 20px;">Documentos
                            de la
                            orden</label>
                        <hr style="margin-top: 0px;">
                        <div class="col-xl-12 col-lg-12">
                            <div class="row">
                                <div class="col-xl-8 col-lg-8">
                                    <label class="azul" style="font-size: 15px;"
                                           for="">Factura</label>
                                </div>
                                <div class="col-xl-2 col-lg-2">
                                    <img style="width: 20px;" src="../../../../assets/images/ordenes/ver.png" alt="">
                                </div>
                                <div class="col-xl-2 col-lg-2">
                                    <img style="width: 20px;" src="../../../../assets/images/ordenes/upload.png" alt="">
                                </div>

                            </div>
                            <hr style="margin-bottom: 8px; margin-top: 5px;">

                            <div class="row">
                                <div class="col-xl-8 col-lg-8">
                                    <label class="azul_claro" style="font-size: 15px;"
                                           for="">Comprobante de recepción</label>
                                </div>
                                <div class="col-xl-2 col-lg-2">
                                    <img style="width: 20px;" src="../../../../assets/images/ordenes/ver.png" alt="">
                                </div>
                                <div class="col-xl-2 col-lg-2">
                                    <img style="width: 20px;" src="../../../../assets/images/ordenes/upload.png" alt="">
                                </div>

                            </div>

                            <hr style="margin-bottom: 8px; margin-top: 5px;">

                            <div class="row">
                                <div class="col-xl-8 col-lg-8">
                                    <label class="azul_claro" style="font-size: 15px; "
                                           for="">Hoja de trabajo</label>
                                </div>
                                <div class="col-xl-2 col-lg-2">
                                    <img style="width: 20px;" src="../../../../assets/images/ordenes/ver.png" alt="">
                                </div>
                                <div class="col-xl-2 col-lg-2">
                                    <img style="width: 20px;" src="../../../../assets/images/ordenes/upload.png" alt="">
                                </div>

                            </div>

                            <hr style="margin-bottom: 8px; margin-top: 5px;">

                            <div class="row">
                                <div class="col-xl-8 col-lg-8">
                                    <label class="azul_claro" style="font-size: 15px; "
                                           for="">Orden de compra</label>
                                </div>
                                <div class="col-xl-2 col-lg-2">
                                    <img style="width: 20px;" src="../../../../assets/images/ordenes/ver.png" alt="">
                                </div>
                                <div class="col-xl-2 col-lg-2">
                                    <img style="width: 20px;" src="../../../../assets/images/ordenes/upload.png" alt="">
                                </div>

                            </div>





                        </div>

                    </div>
                    <div class="col-xl-4 col-lg-4 tamanoCard">
                        <label class="azul" style="font-size: 16px; margin-bottom: 20px;">Catálogo de
                            evidencias</label>


                        <hr style="margin-top: 0px;">
                        <div class="col-xl-12 col-lg-12" style="width: 250px; display: block; margin: auto;">
                            <ngb-carousel [wrap]="false" [keyboard]="false" [pauseOnHover]="false">
                                <ng-template ngbSlide>
                                    <img alt="img" class="d-block w-100" src="../../assets/images/ordenes/evi1.jpeg">
                                </ng-template>
                                <ng-template ngbSlide>
                                    <img alt="img" class="d-block w-100" src="../../assets/images/ordenes/evi2.jpeg">

                                </ng-template>

                            </ngb-carousel>
                        </div>
                    </div>
                </div>
                <hr style="padding: 0px;" class="m-0">
                <div class="col-xl-12 col-lg-12" style="margin-top: 20px;">
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <dx-data-grid [dataSource]="ordenes" [remoteOperations]="false"
                                          [allowColumnReordering]="true" [allowColumnResizing]="true"
                                          [rowAlternationEnabled]="true" [showBorders]="false" [showColumnLines]="false"
                                          [showRowLines]="true" (onContentReady)="contentReady($event)"
                                          (onExporting)="onExporting($event)">
                                <dxo-paging [pageSize]="5"></dxo-paging>
                                <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 25, 50, 100]"
                                           [visible]="true" [showPageSizeSelector]="true" [showInfo]="true"
                                           [showNavigationButtons]="true">
                                </dxo-pager>
                                <dxo-sorting mode="multiple"></dxo-sorting>
                                <dxo-filter-row [visible]="true"></dxo-filter-row>
                                <dxo-header-filter [visible]="true"></dxo-header-filter>
                                <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"
                                                  placeholder="Buscar..."></dxo-search-panel>
                                <dxo-group-panel [visible]="true" placeholder="Arrastre un campo aquí para agrupar...">
                                </dxo-group-panel>
                                <dxo-grouping [autoExpandAll]="false"></dxo-grouping>
                                <dxo-selection mode="simple"></dxo-selection>

                                <dxi-column caption="Partida" dataField="partida" dataType="string"></dxi-column>
                                <dxi-column caption="Descripción" dataField="descripcion" dataType="string">
                                </dxi-column>
                                <dxi-column caption="Inicio" dataField="inivio" dataType="string"></dxi-column>
                                <dxi-column caption="Entrega" dataField="entrega" dataType="string"></dxi-column>
                                <dxi-column caption="Cantidad" dataField="cantidad" dataType="string"></dxi-column>
                                <dxi-column caption="Costo" dataField="costo" dataType="string">
                                </dxi-column>
                                <dxo-summary>
                                    <dxi-total-item column="orden" summaryType="count" displayFormat="Total: {0}">
                                    </dxi-total-item>
                                    <dxi-total-item column="fechaCita" summaryType="min"
                                                    displayFormat="Más antigua: {0}">
                                    </dxi-total-item>
                                </dxo-summary>
                                <dxo-export [enabled]="true" [allowExportSelectedData]="true"></dxo-export>
                            </dx-data-grid>
                        </div>
                    </div>
                </div>

                <hr style="margin-top: 0px;">
                <div class="row" style="margin-bottom: 40px;">
                    <div class="col-xl-6 col-lg-6"></div>

                    <div class="col-xl-6 col-lg-6">
                        <div class="row">
                            <div class="col-xl-4 col-lg-4 border-end border-start">
                                <div class="row" style="text-align: center;">
                                    <div class="col-xl-6 col-lg-6">
                                        <label style="font-size: 18px; font-weight: bold; margin-bottom: 0px;"
                                               for="">Factura</label>
                                        <br>
                                        <label style="font-size: 18px; font-weight: bold;" for="">D-17345</label>
                                    </div>
                                    <div class="col-xl-6 col-lg-6">
                                        <img style="width: 30px; padding: 0px"
                                             src="../../../../assets/images/ordenes/download.png" alt="">
                                    </div>
                                </div>
                                <div class="row" style="text-align: center; margin-top: 15px;">
                                    <div class="col-xl-12 col-lg-12">
                                        <div class="caja">
                                            <label class="textCaja" for="">Entrega</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-8 col-lg-8">
                                <div class="row">
                                    <div class="col-xl-6 col-lg-6">
                                        <p for="">Subtotal</p>
                                    </div>
                                    <div class="col-xl-6 col-lg-6">
                                        <p style="float: right; margin-right: 45px;" for="">$1,860.46</p>
                                    </div>
                                </div>
                                <hr style="margin-bottom: 5px; margin-top: 5px;">
                                <div class="row">
                                    <div class="col-xl-6 col-lg-6">
                                        <p for="">I.V.A. Trasladado</p>
                                    </div>
                                    <div class="col-xl-6 col-lg-6">
                                        <p style="float: right; margin-right: 45px;" for="">$297.57</p>
                                    </div>
                                </div>
                                <hr class="separador">
                                <div class="row" style="margin-top: 10px;">
                                    <div class="col-xl-6 col-lg-6">
                                        <p style="font-size: 18px; font-weight: bold;" for="">TOTAL</p>
                                    </div>
                                    <div class="col-xl-6 col-lg-6">
                                        <p style="font-size: 18px; font-weight: bold; float: right; margin-right: 45px;"
                                           for="">$2,158.03</p>
                                    </div>
                                </div>
                                <hr class="separador">

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>