<div class="content-body">
    <!-- row -->
    <div class="container-fluid">
        <div class="row mb-4">
            <div class='col-sm-12 col-md-12 col-xl-12'>
                <button class="btn btn-rounded float-right" style="background-color: #FFFF;">
                    <mat-icon style="font-size: 18px;vertical-align: middle;" class="text-danger">more_horiz</mat-icon>
                </button>
                <button class="btn btn-rounded float-right mr-2" style="background-color: #FFFF;">
                    <mat-icon style="font-size: 18px;vertical-align: middle;" class="text-danger">create</mat-icon>
                    Editar
                </button>
            </div>
        </div>
        <div class="card overflow-hidden">
            <div class="card-header align-items-start border-0 pb-0 mb-2">
                <div class="col-12">
                    <span>Resumen de Compra</span>
                </div>
            </div>
            <div class="card-body p-4">
                <div class="row mt-3">
                    <div class="col-4 text-center">
                        <img src="https://www.grupoandrade.com/Imagenes/UnidadesNuevas/Unidades/1_LT_platabrillante.jpg"
                            alt="">
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <div class="col-12">
                                <p><strong>CHEVROLET Beat-notchback</strong></p>
                                <div class="border-right d-inline p-4 mr-4">
                                    <span style="margin-left: -20px !important;">Placa 123ABC</span>
                                </div>
                                <div class="border-right d-inline p-4 mr-2">
                                    <span>Serie 02983776657</span>
                                </div>
                                <div class="d-inline p-4 mr-2">
                                    <span>Color Gris</span>
                                </div>
                            </div>
                            <div class="col-12 mt-4">
                                <span class="text-danger mt-2 font-weight-bold">Verificación Vehicular</span>
                                <br>
                                <span style="font-weight: 500;">Ford Andrade Tepepan</span>
                                <br>
                                <small>Periférico Sur 6363, Arenal Tepepan, Alcaldía de Tlalpan, 14610</small>
                                <br>
                                <small>Ciudad de México, CDMX</small>
                                <br>
                                <small style="font-weight: 500;">Fecha</small>
                                <small> 13/23/2022</small>
                                <small style="font-weight: 500;">   Hora</small>
                                <small class="ml-2"> 25:00</small>
                            </div>
                            <div class="col-12 mt-4">
                                <div class="border-right d-inline p-4 mr-4">
                                    <span style="margin-left: -20px !important;">Cantidad 1</span>
                                </div>
                                <div class="d-inline p-4 mr-2">
                                    <span class="text-danger">Eliminar</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-2">
                        <p style="margin-top: 55px;">
                            <span>Precio</span>
                            <br>
                            <strong>$1,025</strong>
                        </p>
                    </div>
                    <div class="col-12 mt-2">
                        <mat-divider></mat-divider>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-4 text-center">
                        <img src="	https://www.grupoandrade.com/Imagenes/UnidadesNuevas/Unidades/1_RS_rojorubi.jpg"
                            alt="">
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <div class="col-12">
                                <p><strong>CHEVROLET Blazer</strong></p>
                                <div class="border-right d-inline p-4 mr-4">
                                    <span style="margin-left: -20px !important;">Placa 123ABC</span>
                                </div>
                                <div class="border-right d-inline p-4 mr-2">
                                    <span>Serie 02983776657</span>
                                </div>
                                <div class="d-inline p-4 mr-2">
                                    <span>Color Rojo</span>
                                </div>
                            </div>
                            <div class="col-12 mt-4">
                                <span class="text-danger mt-2 font-weight-bold">Verificación Vehicular</span>
                                <br>
                                <span style="font-weight: 500;">Ford Andrade Tepepan</span>
                                <br>
                                <small>Periférico Sur 6363, Arenal Tepepan, Alcaldía de Tlalpan, 14610</small>
                                <br>
                                <small>Ciudad de México, CDMX</small>
                                <br>
                                <small style="font-weight: 500;">Fecha</small>
                                <small> 13/23/2022</small>
                                <small style="font-weight: 500;">   Hora</small>
                                <small class="ml-2"> 25:00</small>
                            </div>
                            <div class="col-12 mt-4">
                                <div class="border-right d-inline p-4 mr-4">
                                    <span style="margin-left: -20px !important;">Cantidad 1</span>
                                </div>
                                <div class="d-inline p-4 mr-2">
                                    <span class="text-danger">Eliminar</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-2">
                        <p style="margin-top: 55px;">
                            <span>Precio</span>
                            <br>
                            <strong>$448</strong>
                        </p>
                    </div>
                    <div class="col-12 mt-2">
                        <mat-divider></mat-divider>
                    </div>
                    
                </div>
                <div class="row mt-4">
                    <div class="col-10 mt-2 text-center">
                        <p>
                            <strong>Subtotal (2 Servicios)</strong>
                        </p>
                    </div>
                    <div class="col-2 mt-2">
                        <p>
                            <strong>$1,473</strong>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <button class="btn btn-danger btn-rounded mr-3 mb-3 text-white">
                    Proceder al pago
                    <mat-icon style="font-size: 18px;vertical-align: middle;"> arrow_forward_ios</mat-icon>
                </button>
            </div>
        </div>
    </div>
</div>