<div class="content-body">
    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h4>Seguimiento de órdenes</h4>
                    <p class="mb-0">Panel de seguimiento de órdenes por estatus</p>
                </div>
            </div>
            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="['/admin/index']">App</a></li>
                    <!-- <li class="breadcrumb-item "><a [routerLink]="['/admin/mantenimiento-dashboard']">Mantenimiento</a></li> -->
                    <li class="breadcrumb-item active"><a href="javascript:void(0)">Seguimiento</a></li>
                </ol>
            </div>
        </div>
        <div class="d-flex align-items-center flex-wrap mb-3">
            <div class="input-group search-area-2 mb-3 mr-auto d-inline-flex">
                <div class="input-group-append">
                </div>
            </div>
            <a href="javascript:void(0);" class="btn btn-primary btn-rounded mb-3 mr-3"><i class="las la-download scale5 mr-2"></i>Descargar Reporte</a>
            <a [routerLink]="['/admin/mantenimiento-seguimiento']" class="btn btn-outline-primary btn-rounded mb-3 mr-3"><i class="las la-check-square scale5 mr-2"></i>Aprobar Pendientes</a>
        </div>

        <div class="col-xl-12">
            <div class="card">
                <div class="card-header pb-0">
                    <div class="mt-3 mt-sm-0">
                        <mat-tab-group mat-align-tabs="left" (selectedTabChange)="onTabChanged($event);">
                            <mat-tab label="Citas">
                                <dx-data-grid [dataSource]="citas" [remoteOperations]="false"
                                    [masterDetail]="{ enabled: true, template: 'detail' }" keyExpr="numeroOrden"
                                    [allowColumnReordering]="true" [allowColumnResizing]="true"
                                    [rowAlternationEnabled]="true" [showBorders]="false" [showColumnLines]="false"
                                    [showRowLines]="true" (onContentReady)="contentReady($event)"
                                    (onExporting)="onExporting($event)">
                                    <dxo-paging [pageSize]="5"></dxo-paging>
                                    <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 25, 50, 100]"
                                        [visible]="true" [showPageSizeSelector]="true" [showInfo]="true"
                                        [showNavigationButtons]="true">
                                    </dxo-pager>
                                    <dxo-sorting mode="multiple"></dxo-sorting>
                                    <dxo-filter-row [visible]="true"></dxo-filter-row>
                                    <dxo-header-filter [visible]="true"></dxo-header-filter>
                                    <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"
                                        placeholder="Buscar..."></dxo-search-panel>
                                    <dxo-group-panel [visible]="true"
                                        placeholder="Arrastre un campo aquí para agrupar...">
                                    </dxo-group-panel>
                                    <dxo-grouping [autoExpandAll]="false"></dxo-grouping>
                                    <dxo-selection mode="simple"></dxo-selection>

                                    <dxi-column caption="Núm. Orden" dataField="numeroOrden" dataType="string">
                                    </dxi-column>
                                    <dxi-column caption="Marca" dataField="marca" dataType="string">
                                    </dxi-column>
                                    <dxi-column caption="Submarca" dataField="submarca" dataType="string"></dxi-column>
                                    <dxi-column caption="Versión" dataField="version" dataType="string"></dxi-column>
                                    <dxi-column caption="Modelo" dataField="modelo" dataType="string"></dxi-column>
                                    <dxi-column caption="Placa" dataField="placa" dataType="string"></dxi-column>
                                    <dxi-column caption="Descripción" dataField="descripcion" width="280"
                                        dataType="string"></dxi-column>
                                    <dxi-column caption="Monto" dataField="monto" dataType="string"></dxi-column>
                                    <dxi-column caption="Fecha" dataField="fecha" dataType="string"></dxi-column>
                                    <dxi-column caption="Estatus" dataField="estatus" dataType="string"
                                        cellTemplate="estatus"></dxi-column>
                                    <dxo-summary>
                                        <dxi-total-item column="numeroOrden" summaryType="count"
                                            displayFormat="Total: {0}">
                                        </dxi-total-item>
                                    </dxo-summary>
                                    <dxo-export [enabled]="true" [allowExportSelectedData]="true"></dxo-export>
                                    <div *dxTemplate="let data of 'estatus'">
                                        <div style="text-align: center;">{{data.value}}
                                            <a [routerLink]="['/admin/orden-consulta']"> <img src="../../../../assets/images/citas/ver.png" alt=""></a>
                                        </div>
                                    </div>


                                    <div *dxTemplate="let data of 'detail'">
                                        <dx-data-grid #griddetail keyExpr="numeroOrden" id="gridContainerDetail"
                                            [dataSource]="partidas" [remoteOperations]="false"
                                            [allowColumnReordering]="true" [allowColumnResizing]="true"
                                            [rowAlternationEnabled]="true" [showBorders]="false"
                                            [showColumnLines]="false" [showRowLines]="true"
                                            (onContentReady)="contentReady($event)" (onExporting)="onExporting($event)">
                                            <dxi-column caption="Foto Principal" dataField="foto" cellTemplate="foto"
                                                dataType="string">
                                            </dxi-column>
                                            <dxi-column caption="Cantidad" dataField="cantidad" dataType="string">
                                            </dxi-column>
                                            <dxi-column caption="Descripción" dataField="descripcion" dataType="string">
                                            </dxi-column>
                                            <dxi-column caption="Estatus" dataField="estatus" dataType="string">
                                            </dxi-column>
                                            <dxi-column caption="Total Costo" dataField="totalCosto" dataType="string">
                                            </dxi-column>
                                            <dxo-pager [showPageSizeSelector]="true"
                                                [allowedPageSizes]="[5, 25, 50, 100]" [visible]="true"
                                                [showPageSizeSelector]="true" [showInfo]="true"
                                                [showNavigationButtons]="true">
                                            </dxo-pager>
                                            <dxo-sorting mode="multiple"></dxo-sorting>
                                            <dxo-filter-row [visible]="true"></dxo-filter-row>
                                            <dxo-header-filter [visible]="true"></dxo-header-filter>
                                            <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"
                                                placeholder="Buscar..."></dxo-search-panel>
                                            <dxo-group-panel [visible]="true"
                                                placeholder="Arrastre un campo aquí para agrupar...">
                                            </dxo-group-panel>
                                            <dxo-grouping [autoExpandAll]="false"></dxo-grouping>
                                            <dxo-selection mode="multiple"></dxo-selection>

                                            <dxo-summary>
                                                <dxi-total-item column="foto" summaryType="count"
                                                    displayFormat="Total: {0}">
                                                </dxi-total-item>
                                            </dxo-summary>
                                            <dxo-export [enabled]="true" [allowExportSelectedData]="true"></dxo-export>

                                            <div *dxTemplate="let data of 'foto'">
                                                <div> {{data.value}}<img style="width: 30px; float: center;"
                                                        src="../../../../assets/images/citas/foto.jpg" alt="">
                                                </div>
                                            </div>


                                        </dx-data-grid>
                                    </div>

                                </dx-data-grid>
                            </mat-tab>
                            <mat-tab label="Ingreso al taller">
                                <dx-data-grid [dataSource]="citas" [remoteOperations]="false"
                                              [masterDetail]="{ enabled: true, template: 'detail' }" keyExpr="numeroOrden"
                                              [allowColumnReordering]="true" [allowColumnResizing]="true"
                                              [rowAlternationEnabled]="true" [showBorders]="false" [showColumnLines]="false"
                                              [showRowLines]="true" (onContentReady)="contentReady($event)"
                                              (onExporting)="onExporting($event)">
                                    <dxo-paging [pageSize]="5"></dxo-paging>
                                    <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 25, 50, 100]"
                                               [visible]="true" [showPageSizeSelector]="true" [showInfo]="true"
                                               [showNavigationButtons]="true">
                                    </dxo-pager>
                                    <dxo-sorting mode="multiple"></dxo-sorting>
                                    <dxo-filter-row [visible]="true"></dxo-filter-row>
                                    <dxo-header-filter [visible]="true"></dxo-header-filter>
                                    <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"
                                                      placeholder="Buscar..."></dxo-search-panel>
                                    <dxo-group-panel [visible]="true"
                                                     placeholder="Arrastre un campo aquí para agrupar...">
                                    </dxo-group-panel>
                                    <dxo-grouping [autoExpandAll]="false"></dxo-grouping>
                                    <dxo-selection mode="simple"></dxo-selection>

                                    <dxi-column caption="Núm. Orden" dataField="numeroOrden" dataType="string">
                                    </dxi-column>
                                    <dxi-column caption="Marca" dataField="marca" dataType="string">
                                    </dxi-column>
                                    <dxi-column caption="Submarca" dataField="submarca" dataType="string"></dxi-column>
                                    <dxi-column caption="Versión" dataField="version" dataType="string"></dxi-column>
                                    <dxi-column caption="Modelo" dataField="modelo" dataType="string"></dxi-column>
                                    <dxi-column caption="Placa" dataField="placa" dataType="string"></dxi-column>
                                    <dxi-column caption="Descripción" dataField="descripcion" width="280"
                                                dataType="string"></dxi-column>
                                    <dxi-column caption="Monto" dataField="monto" dataType="string"></dxi-column>
                                    <dxi-column caption="Fecha" dataField="fecha" dataType="string"></dxi-column>
                                    <dxi-column caption="Estatus" dataField="estatus" dataType="string"
                                                cellTemplate="estatus"></dxi-column>
                                    <dxo-summary>
                                        <dxi-total-item column="numeroOrden" summaryType="count"
                                                        displayFormat="Total: {0}">
                                        </dxi-total-item>
                                    </dxo-summary>
                                    <dxo-export [enabled]="true" [allowExportSelectedData]="true"></dxo-export>
                                    <div *dxTemplate="let data of 'estatus'">
                                        <div style="text-align: center;">{{data.value}}
                                            <a [routerLink]="['/admin/orden-consulta']"><img src="../../../../assets/images/citas/ver.png" alt=""></a>
                                        </div>
                                    </div>


                                    <div *dxTemplate="let data of 'detail'">
                                        <dx-data-grid #griddetail keyExpr="numeroOrden" id="gridContainerDetail"
                                                      [dataSource]="partidas" [remoteOperations]="false"
                                                      [allowColumnReordering]="true" [allowColumnResizing]="true"
                                                      [rowAlternationEnabled]="true" [showBorders]="false"
                                                      [showColumnLines]="false" [showRowLines]="true"
                                                      (onContentReady)="contentReady($event)" (onExporting)="onExporting($event)">
                                            <dxi-column caption="Foto Principal" dataField="foto" cellTemplate="foto"
                                                        dataType="string">
                                            </dxi-column>
                                            <dxi-column caption="Cantidad" dataField="cantidad" dataType="string">
                                            </dxi-column>
                                            <dxi-column caption="Descripción" dataField="descripcion" dataType="string">
                                            </dxi-column>
                                            <dxi-column caption="Estatus" dataField="estatus" dataType="string">
                                            </dxi-column>
                                            <dxi-column caption="Total Costo" dataField="totalCosto" dataType="string">
                                            </dxi-column>
                                            <dxo-pager [showPageSizeSelector]="true"
                                                       [allowedPageSizes]="[5, 25, 50, 100]" [visible]="true"
                                                       [showPageSizeSelector]="true" [showInfo]="true"
                                                       [showNavigationButtons]="true">
                                            </dxo-pager>
                                            <dxo-sorting mode="multiple"></dxo-sorting>
                                            <dxo-filter-row [visible]="true"></dxo-filter-row>
                                            <dxo-header-filter [visible]="true"></dxo-header-filter>
                                            <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"
                                                              placeholder="Buscar..."></dxo-search-panel>
                                            <dxo-group-panel [visible]="true"
                                                             placeholder="Arrastre un campo aquí para agrupar...">
                                            </dxo-group-panel>
                                            <dxo-grouping [autoExpandAll]="false"></dxo-grouping>
                                            <dxo-selection mode="multiple"></dxo-selection>

                                            <dxo-summary>
                                                <dxi-total-item column="foto" summaryType="count"
                                                                displayFormat="Total: {0}">
                                                </dxi-total-item>
                                            </dxo-summary>
                                            <dxo-export [enabled]="true" [allowExportSelectedData]="true"></dxo-export>

                                            <div *dxTemplate="let data of 'foto'">
                                                <div> {{data.value}}
                                                    <a [routerLink]="['/admin/orden-consulta']"><img style="width: 30px; float: center;"
                                                                                                     src="../../../../assets/images/citas/foto.jpg" alt=""></a>
                                                </div>
                                            </div>


                                        </dx-data-grid>
                                    </div>

                                </dx-data-grid>
                            </mat-tab>
                            <mat-tab label="Aprobaciones">
                                <dx-data-grid [dataSource]="citas" [remoteOperations]="false"
                                    [masterDetail]="{ enabled: true, template: 'detail' }" keyExpr="numeroOrden"
                                    [allowColumnReordering]="true" [allowColumnResizing]="true"
                                    [rowAlternationEnabled]="true" [showBorders]="false" [showColumnLines]="false"
                                    [showRowLines]="true" (onContentReady)="contentReady($event)"
                                    (onExporting)="onExporting($event)">
                                    <dxo-paging [pageSize]="5"></dxo-paging>
                                    <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 25, 50, 100]"
                                        [visible]="true" [showPageSizeSelector]="true" [showInfo]="true"
                                        [showNavigationButtons]="true">
                                    </dxo-pager>
                                    <dxo-sorting mode="multiple"></dxo-sorting>
                                    <dxo-filter-row [visible]="true"></dxo-filter-row>
                                    <dxo-header-filter [visible]="true"></dxo-header-filter>
                                    <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"
                                        placeholder="Buscar..."></dxo-search-panel>
                                    <dxo-group-panel [visible]="true"
                                        placeholder="Arrastre un campo aquí para agrupar...">
                                    </dxo-group-panel>
                                    <dxo-grouping [autoExpandAll]="false"></dxo-grouping>
                                    <dxo-selection mode="simple"></dxo-selection>

                                    <dxi-column caption="Núm. Orden" dataField="numeroOrden" dataType="string">
                                    </dxi-column>
                                    <dxi-column caption="Marca" dataField="marca" dataType="string">
                                    </dxi-column>
                                    <dxi-column caption="Submarca" dataField="submarca" dataType="string"></dxi-column>
                                    <dxi-column caption="Versión" dataField="version" dataType="string"></dxi-column>
                                    <dxi-column caption="Modelo" dataField="modelo" dataType="string"></dxi-column>
                                    <dxi-column caption="Placa" dataField="placa" dataType="string"></dxi-column>
                                    <dxi-column caption="Descripción" dataField="descripcion" width="280"
                                        dataType="string"></dxi-column>
                                    <dxi-column caption="Monto" dataField="monto" dataType="string"></dxi-column>
                                    <dxi-column caption="Fecha" dataField="fecha" dataType="string"></dxi-column>
                                    <dxi-column caption="Aprobar" cellTemplate="aprobar"></dxi-column>
                                    <dxi-column caption="Rechazar" cellTemplate="rechazar"></dxi-column>
                                    <dxo-summary>
                                        <dxi-total-item column="numeroOrden" summaryType="count"
                                            displayFormat="Total: {0}">
                                        </dxi-total-item>
                                    </dxo-summary>
                                    <dxo-export [enabled]="true" [allowExportSelectedData]="true"></dxo-export>

                                    <div *dxTemplate="let data of 'aprobar'">
                                        <div style="text-align: center;">
                                            <mat-radio-button class="mr-3" value="1"></mat-radio-button>
                                        </div>
                                    </div>
                                    <div *dxTemplate="let data of 'rechazar'">
                                        <div>
                                            <mat-radio-button class="mr-3" value="2"></mat-radio-button>
                                        </div>
                                    </div>


                                    <div *dxTemplate="let data of 'detail'">
                                        <dx-data-grid #griddetail keyExpr="numeroOrden" id="gridContainerDetail"
                                            [dataSource]="partidas" [remoteOperations]="false"
                                            [allowColumnReordering]="true" [allowColumnResizing]="true"
                                            [rowAlternationEnabled]="true" [showBorders]="false"
                                            [showColumnLines]="false" [showRowLines]="true"
                                            (onContentReady)="contentReady($event)" (onExporting)="onExporting($event)">
                                            <dxi-column caption="Foto Principal" dataField="foto" cellTemplate="foto"
                                                dataType="string">
                                            </dxi-column>
                                            <dxi-column caption="Cantidad" dataField="cantidad" dataType="string">
                                            </dxi-column>
                                            <dxi-column caption="Descripción" dataField="descripcion" dataType="string">
                                            </dxi-column>
                                            <dxi-column caption="Estatus" dataField="estatus" dataType="string">
                                            </dxi-column>
                                            <dxi-column caption="Total Costo" dataField="totalCosto" dataType="string">
                                            </dxi-column>
                                            <dxo-pager [showPageSizeSelector]="true"
                                                [allowedPageSizes]="[5, 25, 50, 100]" [visible]="true"
                                                [showPageSizeSelector]="true" [showInfo]="true"
                                                [showNavigationButtons]="true">
                                            </dxo-pager>
                                            <dxo-sorting mode="multiple"></dxo-sorting>
                                            <dxo-filter-row [visible]="true"></dxo-filter-row>
                                            <dxo-header-filter [visible]="true"></dxo-header-filter>
                                            <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"
                                                placeholder="Buscar..."></dxo-search-panel>
                                            <dxo-group-panel [visible]="true"
                                                placeholder="Arrastre un campo aquí para agrupar...">
                                            </dxo-group-panel>
                                            <dxo-grouping [autoExpandAll]="false"></dxo-grouping>
                                            <dxo-selection mode="multiple"></dxo-selection>

                                            <dxo-summary>
                                                <dxi-total-item column="foto" summaryType="count"
                                                    displayFormat="Total: {0}">
                                                </dxi-total-item>
                                            </dxo-summary>
                                            <dxo-export [enabled]="true" [allowExportSelectedData]="true"></dxo-export>

                                            <div *dxTemplate="let data of 'foto'">
                                                <div> {{data.value}}
                                                   <img style="width: 30px; float: center;"
                                                                                                     src="../../../../assets/images/citas/foto.jpg" alt="">
                                                </div>
                                            </div>


                                        </dx-data-grid>
                                    </div>

                                </dx-data-grid>

                                <div class="col-xl-12 col-sm-12" style="text-align: right; margin-top: 30px;">
                                    <p class="p-0 m-0" style="color: #495F88; font-size: 15px;">Subtotal <span
                                            style="margin-left: 60px;">$9,258.63</span> </p>
                                    <hr style="padding-top: 0px; margin-top: 0px;">
                                    <p class="p-0 m-0" style="color: #495F88; font-size: 15px;">I.V.A. <span
                                            style="margin-left: 60px;">$1,841.38</span> </p>
                                    <hr style="padding-top: 0px; margin-top: 0px;">
                                    <p class="p-0 m-0" style="color: #495F88; font-size: 18px; font-weight: bold;">Total
                                        <span style="margin-left: 30px;">$10,739.38</span>
                                    </p>
                                </div>

                                <div class="col-xl-12 col-sm-12" style=" padding-bottom: 20px;">
                                    <div class="row">
                                        <div class="btn boton-secundario" style="margin: 0 auto;">
                                            <mat-icon
                                                style="display: table-cell; vertical-align: middle; padding-right: 15px;color: #EE3C55">
                                                add_shopping_cart</mat-icon>
                                            <p style="display: table-cell; vertical-align: middle;" class="">Agregar al
                                                carrito</p>
                                        </div>

                                        <div class="btn boton-descargar_reporte" style="margin: 0 auto;">
                                            <p style="display: table-cell; vertical-align: middle;">
                                                Proceder al pago
                                            </p>
                                            <mat-icon
                                                style="display: table-cell; vertical-align: middle; padding-right: 15px;">
                                                keyboard_arrow_right</mat-icon>
                                        </div>
                                    </div>
                                </div>

                            </mat-tab>
                            <mat-tab label="Proceso">

                                <dx-data-grid [dataSource]="citas" [remoteOperations]="false"
                                              [masterDetail]="{ enabled: true, template: 'detail' }" keyExpr="numeroOrden"
                                              [allowColumnReordering]="true" [allowColumnResizing]="true"
                                              [rowAlternationEnabled]="true" [showBorders]="false" [showColumnLines]="false"
                                              [showRowLines]="true" (onContentReady)="contentReady($event)"
                                              (onExporting)="onExporting($event)">
                                    <dxo-paging [pageSize]="5"></dxo-paging>
                                    <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 25, 50, 100]"
                                               [visible]="true" [showPageSizeSelector]="true" [showInfo]="true"
                                               [showNavigationButtons]="true">
                                    </dxo-pager>
                                    <dxo-sorting mode="multiple"></dxo-sorting>
                                    <dxo-filter-row [visible]="true"></dxo-filter-row>
                                    <dxo-header-filter [visible]="true"></dxo-header-filter>
                                    <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"
                                                      placeholder="Buscar..."></dxo-search-panel>
                                    <dxo-group-panel [visible]="true"
                                                     placeholder="Arrastre un campo aquí para agrupar...">
                                    </dxo-group-panel>
                                    <dxo-grouping [autoExpandAll]="false"></dxo-grouping>
                                    <dxo-selection mode="simple"></dxo-selection>

                                    <dxi-column caption="Núm. Orden" dataField="numeroOrden" dataType="string">
                                    </dxi-column>
                                    <dxi-column caption="Marca" dataField="marca" dataType="string">
                                    </dxi-column>
                                    <dxi-column caption="Submarca" dataField="submarca" dataType="string"></dxi-column>
                                    <dxi-column caption="Versión" dataField="version" dataType="string"></dxi-column>
                                    <dxi-column caption="Modelo" dataField="modelo" dataType="string"></dxi-column>
                                    <dxi-column caption="Placa" dataField="placa" dataType="string"></dxi-column>
                                    <dxi-column caption="Descripción" dataField="descripcion" width="280"
                                                dataType="string"></dxi-column>
                                    <dxi-column caption="Monto" dataField="monto" dataType="string"></dxi-column>
                                    <dxi-column caption="Fecha" dataField="fecha" dataType="string"></dxi-column>
                                    <dxi-column caption="Estatus" dataField="estatus" dataType="string"
                                                cellTemplate="estatus"></dxi-column>
                                    <dxo-summary>
                                        <dxi-total-item column="numeroOrden" summaryType="count"
                                                        displayFormat="Total: {0}">
                                        </dxi-total-item>
                                    </dxo-summary>
                                    <dxo-export [enabled]="true" [allowExportSelectedData]="true"></dxo-export>
                                    <div *dxTemplate="let data of 'estatus'">
                                        <div style="text-align: center;">{{data.value}}
                                            <a [routerLink]="['/admin/orden-consulta']">  <img src="../../../../assets/images/citas/ver.png" alt=""></a>
                                        </div>
                                    </div>


                                    <div *dxTemplate="let data of 'detail'">
                                        <dx-data-grid #griddetail keyExpr="numeroOrden" id="gridContainerDetail"
                                                      [dataSource]="partidas" [remoteOperations]="false"
                                                      [allowColumnReordering]="true" [allowColumnResizing]="true"
                                                      [rowAlternationEnabled]="true" [showBorders]="false"
                                                      [showColumnLines]="false" [showRowLines]="true"
                                                      (onContentReady)="contentReady($event)" (onExporting)="onExporting($event)">
                                            <dxi-column caption="Foto Principal" dataField="foto" cellTemplate="foto"
                                                        dataType="string">
                                            </dxi-column>
                                            <dxi-column caption="Cantidad" dataField="cantidad" dataType="string">
                                            </dxi-column>
                                            <dxi-column caption="Descripción" dataField="descripcion" dataType="string">
                                            </dxi-column>
                                            <dxi-column caption="Estatus" dataField="estatus" dataType="string">
                                            </dxi-column>
                                            <dxi-column caption="Total Costo" dataField="totalCosto" dataType="string">
                                            </dxi-column>
                                            <dxo-pager [showPageSizeSelector]="true"
                                                       [allowedPageSizes]="[5, 25, 50, 100]" [visible]="true"
                                                       [showPageSizeSelector]="true" [showInfo]="true"
                                                       [showNavigationButtons]="true">
                                            </dxo-pager>
                                            <dxo-sorting mode="multiple"></dxo-sorting>
                                            <dxo-filter-row [visible]="true"></dxo-filter-row>
                                            <dxo-header-filter [visible]="true"></dxo-header-filter>
                                            <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"
                                                              placeholder="Buscar..."></dxo-search-panel>
                                            <dxo-group-panel [visible]="true"
                                                             placeholder="Arrastre un campo aquí para agrupar...">
                                            </dxo-group-panel>
                                            <dxo-grouping [autoExpandAll]="false"></dxo-grouping>
                                            <dxo-selection mode="multiple"></dxo-selection>

                                            <dxo-summary>
                                                <dxi-total-item column="foto" summaryType="count"
                                                                displayFormat="Total: {0}">
                                                </dxi-total-item>
                                            </dxo-summary>
                                            <dxo-export [enabled]="true" [allowExportSelectedData]="true"></dxo-export>

                                            <div *dxTemplate="let data of 'foto'">
                                                <div> {{data.value}}<img style="width: 30px; float: center;"
                                                                         src="../../../../assets/images/citas/foto.jpg" alt="">
                                                </div>
                                            </div>


                                        </dx-data-grid>
                                    </div>

                                </dx-data-grid>
                            </mat-tab>
                            <mat-tab label="Entrega">
                                <dx-data-grid [dataSource]="citas" [remoteOperations]="false"
                                    [masterDetail]="{ enabled: true, template: 'detail' }" keyExpr="numeroOrden"
                                    [allowColumnReordering]="true" [allowColumnResizing]="true"
                                    [rowAlternationEnabled]="true" [showBorders]="false" [showColumnLines]="false"
                                    [showRowLines]="true" (onContentReady)="contentReady($event)"
                                    (onExporting)="onExporting($event)">
                                    <dxo-paging [pageSize]="5"></dxo-paging>
                                    <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 25, 50, 100]"
                                        [visible]="true" [showPageSizeSelector]="true" [showInfo]="true"
                                        [showNavigationButtons]="true">
                                    </dxo-pager>
                                    <dxo-sorting mode="multiple"></dxo-sorting>
                                    <dxo-filter-row [visible]="true"></dxo-filter-row>
                                    <dxo-header-filter [visible]="true"></dxo-header-filter>
                                    <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"
                                        placeholder="Buscar..."></dxo-search-panel>
                                    <dxo-group-panel [visible]="true"
                                        placeholder="Arrastre un campo aquí para agrupar...">
                                    </dxo-group-panel>
                                    <dxo-grouping [autoExpandAll]="false"></dxo-grouping>
                                    <dxo-selection mode="simple"></dxo-selection>

                                    <dxi-column caption="Núm. Orden" dataField="numeroOrden" dataType="string">
                                    </dxi-column>
                                    <dxi-column caption="Marca" dataField="marca" dataType="string">
                                    </dxi-column>
                                    <dxi-column caption="Modelo" dataField="modelo" dataType="string"></dxi-column>
                                    <dxi-column caption="Placa" dataField="placa" dataType="string"></dxi-column>
                                    <dxi-column caption="Descripción" dataField="descripcion" width="280"
                                        dataType="string"></dxi-column>
                                    <dxi-column caption="Tpo en Taller" dataField="tiempoTaller" dataType="string">
                                    </dxi-column>
                                    <dxi-column caption="Dirección Taller" cellTemplate="direccion"
                                        dataField="direccionTaller" dataType="string"></dxi-column>
                                    <dxo-summary>
                                        <dxi-total-item column="numeroOrden" summaryType="count"
                                            displayFormat="Total: {0}">
                                        </dxi-total-item>
                                    </dxo-summary>
                                    <dxo-export [enabled]="true" [allowExportSelectedData]="true"></dxo-export>

                                    <div *dxTemplate="let data of 'direccion'">
                                        <div> {{data.value}} <a [routerLink]="['/admin/orden-consulta']"> <img style="float: right;"
                                                src="../../../../assets/images/citas/mensaje.png" alt=""></a>
                                        </div>
                                    </div>

                                    <div *dxTemplate="let data of 'detail'">
                                        <dx-data-grid #griddetail keyExpr="numeroOrden" id="gridContainerDetail"
                                            [dataSource]="partidas" [remoteOperations]="false"
                                            [allowColumnReordering]="true" [allowColumnResizing]="true"
                                            [rowAlternationEnabled]="true" [showBorders]="false"
                                            [showColumnLines]="false" [showRowLines]="true"
                                            (onContentReady)="contentReady($event)" (onExporting)="onExporting($event)">
                                            <dxi-column caption="Foto Principal" dataField="foto" cellTemplate="foto"
                                                dataType="string">
                                            </dxi-column>
                                            <dxi-column caption="Cantidad" dataField="cantidad" dataType="string">
                                            </dxi-column>
                                            <dxi-column caption="Descripción" dataField="descripcion" dataType="string">
                                            </dxi-column>
                                            <dxi-column caption="Estatus" dataField="estatus" dataType="string">
                                            </dxi-column>
                                            <dxi-column caption="Total Costo" dataField="totalCosto" dataType="string">
                                            </dxi-column>
                                            <dxo-pager [showPageSizeSelector]="true"
                                                [allowedPageSizes]="[5, 25, 50, 100]" [visible]="true"
                                                [showPageSizeSelector]="true" [showInfo]="true"
                                                [showNavigationButtons]="true">
                                            </dxo-pager>
                                            <dxo-sorting mode="multiple"></dxo-sorting>
                                            <dxo-filter-row [visible]="true"></dxo-filter-row>
                                            <dxo-header-filter [visible]="true"></dxo-header-filter>
                                            <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"
                                                placeholder="Buscar..."></dxo-search-panel>
                                            <dxo-group-panel [visible]="true"
                                                placeholder="Arrastre un campo aquí para agrupar...">
                                            </dxo-group-panel>
                                            <dxo-grouping [autoExpandAll]="false"></dxo-grouping>
                                            <dxo-selection mode="multiple"></dxo-selection>

                                            <dxo-summary>
                                                <dxi-total-item column="foto" summaryType="count"
                                                    displayFormat="Total: {0}">
                                                </dxi-total-item>
                                            </dxo-summary>
                                            <dxo-export [enabled]="true" [allowExportSelectedData]="true"></dxo-export>

                                            <div *dxTemplate="let data of 'foto'">
                                                <div> {{data.value}}<img style="width: 30px; float: center;"
                                                        src="../../../../assets/images/citas/foto.jpg" alt="">
                                                </div>
                                            </div>


                                        </dx-data-grid>
                                    </div>

                                </dx-data-grid>

                            </mat-tab>
                            <mat-tab label="Cobranza">
                                <dx-data-grid [dataSource]="citas" [remoteOperations]="false"
                                    [masterDetail]="{ enabled: true, template: 'detail' }" keyExpr="numeroOrden"
                                    [allowColumnReordering]="true" [allowColumnResizing]="true"
                                    [rowAlternationEnabled]="true" [showBorders]="false" [showColumnLines]="false"
                                    [showRowLines]="true" (onContentReady)="contentReady($event)"
                                    (onExporting)="onExporting($event)">
                                    <dxo-paging [pageSize]="5"></dxo-paging>
                                    <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 25, 50, 100]"
                                        [visible]="true" [showPageSizeSelector]="true" [showInfo]="true"
                                        [showNavigationButtons]="true">
                                    </dxo-pager>
                                    <dxo-sorting mode="multiple"></dxo-sorting>
                                    <dxo-filter-row [visible]="true"></dxo-filter-row>
                                    <dxo-header-filter [visible]="true"></dxo-header-filter>
                                    <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"
                                        placeholder="Buscar..."></dxo-search-panel>
                                    <dxo-group-panel [visible]="true"
                                        placeholder="Arrastre un campo aquí para agrupar...">
                                    </dxo-group-panel>
                                    <dxo-grouping [autoExpandAll]="false"></dxo-grouping>
                                    <dxo-selection mode="simple"></dxo-selection>

                                    <dxi-column caption="Núm. Orden" dataField="numeroOrden" dataType="string">
                                    </dxi-column>
                                    <dxi-column caption="Marca" dataField="marca" dataType="string">
                                    </dxi-column>
                                    <dxi-column caption="Submarca" dataField="submarca" dataType="string"></dxi-column>
                                    <dxi-column caption="Versión" dataField="version" dataType="string"></dxi-column>
                                    <dxi-column caption="Modelo" dataField="modelo" dataType="string"></dxi-column>
                                    <dxi-column caption="Placa" dataField="placa" dataType="string"></dxi-column>
                                    <dxi-column caption="VIN" dataField="vin" dataType="string"></dxi-column>
                                    <dxi-column caption="Tpo. Espera" dataField="tiempoEspera" dataType="string">
                                    </dxi-column>
                                    <dxi-column caption="Ord. Servicio" cellTemplate="orden" dataType="string">
                                    </dxi-column>
                                    <dxi-column caption="Recoger Aqui" cellTemplate="direccion" dataField="recoger"
                                        dataType="string" width="240"></dxi-column>
                                    <dxo-summary>
                                        <dxi-total-item column="numeroOrden" summaryType="count"
                                            displayFormat="Total: {0}">
                                        </dxi-total-item>
                                    </dxo-summary>
                                    <dxo-export [enabled]="true" [allowExportSelectedData]="true"></dxo-export>

                                    <div *dxTemplate="let data of 'direccion'">
                                        <div> {{data.value}}<img style="float: right;"
                                                src="../../../../assets/images/citas/ver.png" alt="">
                                        </div>
                                    </div>

                                    <div *dxTemplate="let data of 'orden'">
                                        <div> <img style="float: center;"
                                                src="../../../../assets/images/citas/orden.png" alt="">
                                        </div>
                                    </div>

                                    <div *dxTemplate="let data of 'detail'">
                                        <dx-data-grid #griddetail keyExpr="numeroOrden" id="gridContainerDetail"
                                            [dataSource]="partidas" [remoteOperations]="false"
                                            [allowColumnReordering]="true" [allowColumnResizing]="true"
                                            [rowAlternationEnabled]="true" [showBorders]="false"
                                            [showColumnLines]="false" [showRowLines]="true"
                                            (onContentReady)="contentReady($event)" (onExporting)="onExporting($event)">
                                            <dxi-column caption="Foto Principal" dataField="foto" cellTemplate="foto"
                                                dataType="string">
                                            </dxi-column>
                                            <dxi-column caption="Cantidad" dataField="cantidad" dataType="string">
                                            </dxi-column>
                                            <dxi-column caption="Descripción" dataField="descripcion" dataType="string">
                                            </dxi-column>
                                            <dxi-column caption="Estatus" dataField="estatus" dataType="string">
                                            </dxi-column>
                                            <dxi-column caption="Total Costo" dataField="totalCosto" dataType="string">
                                            </dxi-column>
                                            <dxo-pager [showPageSizeSelector]="true"
                                                [allowedPageSizes]="[5, 25, 50, 100]" [visible]="true"
                                                [showPageSizeSelector]="true" [showInfo]="true"
                                                [showNavigationButtons]="true">
                                            </dxo-pager>
                                            <dxo-sorting mode="multiple"></dxo-sorting>
                                            <dxo-filter-row [visible]="true"></dxo-filter-row>
                                            <dxo-header-filter [visible]="true"></dxo-header-filter>
                                            <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"
                                                placeholder="Buscar..."></dxo-search-panel>
                                            <dxo-group-panel [visible]="true"
                                                placeholder="Arrastre un campo aquí para agrupar...">
                                            </dxo-group-panel>
                                            <dxo-grouping [autoExpandAll]="false"></dxo-grouping>
                                            <dxo-selection mode="multiple"></dxo-selection>

                                            <dxo-summary>
                                                <dxi-total-item column="foto" summaryType="count"
                                                    displayFormat="Total: {0}">
                                                </dxi-total-item>
                                            </dxo-summary>
                                            <dxo-export [enabled]="true" [allowExportSelectedData]="true"></dxo-export>

                                            <div *dxTemplate="let data of 'foto'">
                                                <div> {{data.value}}<img style="width: 30px; float: center;"
                                                        src="../../../../assets/images/citas/foto.jpg" alt="">
                                                </div>
                                            </div>
                                        </dx-data-grid>
                                    </div>


                                </dx-data-grid>






                            </mat-tab>
                        </mat-tab-group>
                        <div class="col-xl-12 col-sm-12" style="text-align: right; margin-top: 30px;margin-bottom: 30px">
                            <p class="p-0 m-0" style="color: #495F88; font-size: 15px;">Subtotal <span
                                    style="margin-left: 60px;">$9,258.63</span> </p>
                            <div style="padding-top: 0px; margin-top: 0px; color:white;"></div>
                            <p class="p-0 m-0" style="color: #495F88; font-size: 15px;">I.V.A. <span
                                    style="margin-left: 60px;">$1,841.38</span> </p>
                            <hr style="padding-top: 0px; margin-top: 0px; color:white;">
                            <p class="p-0 m-0" style="color: #495F88; font-size: 18px; font-weight: bold">Total
                                <span style="margin-left: 30px;">$10,739.38</span>
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>