select{
    width: 200px;
    height: 40px;
    border: solid 1px blue;
}
// td,th{
//     border: solid rgba(0, 17, 255, 0.692);
//     margin: 20px;
//     padding: 10px;
// }
// table{
//     border:solid;
//     box-shadow: 0 0px 5px 0 rgba(4, 0, 255, 0.618), 0 0px 5px 0 rgba(51, 7, 244, 0.791)
// }
button{
   padding: 10px;
    border-radius: 20px;
    background-color: rgba(24, 32, 248, 0.662);
}