<div class="content-body">
    <div class="container-fluid">
        <!-- Editar -->
        <div class="row mb-4">
            <div class='col-sm-12 col-md-12 col-xl-12'>
                <button class="btn btn-rounded float-right" style="background-color: #FFFF;">
                    <mat-icon style="font-size: 18px;vertical-align: middle;" class="text-warning">more_horiz</mat-icon>
                </button>
                <button class="btn btn-rounded float-right mr-2" style="background-color: #FFFF;">
                    <mat-icon style="font-size: 18px;vertical-align: middle;" class="text-warning">create</mat-icon>
                    Editar
                </button>
            </div>
        </div>
        <!-- Card mayor -->

        <div class="card overflow-hidden card-back">
            <div class="card-header align-items-start border-0 pb-0 mb-2">
                <div class="col-4">
                    <span></span>
                </div>
                <div class="col-4">
                    <span></span>
                </div>
                <div class="col-4">
                    <span></span>
                </div>
            </div>
            <div class="card-body p-0">
                <div class="row card-torax">
                    <div class="col-4">
                        <div class="card overflow-hidden">
                            <div class="card-header align-items-start border-0 pb-0 mb-2">
                                <div class="col-12">
                                    <span class="titulo">Compra un vehículo</span>
                                </div>
                            </div>
                            <br>
                            <div class="card-body p-0">
                                <div class="row card-torax">
                                    <div class="col-12">
                                        <img src="./../../../assets/images/areacomercial/comercial.png" class="icono">
                                    </div>
                                </div>
                            </div>
                            <br>
                            <button class="btn btn-warning btn-rounded mr-3 mb-3 text-white">
                                Ver oferta
                            </button>

                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card overflow-hidden">
                            <div class="card-header align-items-start border-0 pb-0 mb-2">
                                <div class="col-12">
                                    <span class="titulo">Consigue un arrendamiento</span>
                                </div>
                            </div>
                            <br>
                            <div class="card-body p-0">
                                <div class="row card-torax">
                                    <div class="col-12">
                                        <img src="./../../../assets/images/areacomercial/comercial2.png" class="icono">
                                    </div>
                                </div>
                            </div>
                            <br>
                            <button class="btn btn-warning btn-rounded mr-3 mb-3 text-white">
                                Ver oferta
                            </button>

                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card overflow-hidden">
                            <div class="card-header align-items-start border-0 pb-0 mb-2">
                                <div class="col-12">
                                    <span class="titulo">Consigue un seguro</span>
                                </div>
                            </div>
                            <br>
                            <div class="card-body p-0">
                                <div class="row card-torax">
                                    <div class="col-12">
                                        <img src="./../../../assets/images/areacomercial/comercial3.png" class="icono">
                                    </div>
                                </div>
                            </div>
                            <br>
                            <button class="btn btn-warning btn-rounded mr-3 mb-3 text-white">
                                Ver oferta
                            </button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>