
label{
    margin: 5px;
    font-weight: 700;
}

input{
    margin: 10px;
}
p-dropdown{
    margin: 20px;
}
div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}