<div class="cabezero">
<div class="style-first">
<div class="espace">
<img  class="imagen-estilo" src="assets/img/mi-tienda.jpg"alt="">
    <!-- <h2 >Lucerito</h2>  -->
</div>
<div style="display: grid; grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; width:80%; padding: 8px;">
    <!-- <p-button (onClick)="inicio()"  label="Inicio"></p-button> -->
    <button pButton type="button" label="Inicio" icon="pi pi-check" (click)="inicio()"  class="p-button-sm"></button>
    
    <!-- <p-button (onClick)="departamentos()"  label="Departamentos"></p-button> -->
    <button pButton type="button" label="Departamentos" (click)="departamentos()" icon="pi pi-check" class="p-button-sm"></button>

    <!-- <p-button (onClick)="CrearProducto()"  label="Producto"></p-button> -->
    <button pButton type="button" label="Producto" (click)="CrearProducto()" icon="pi pi-check" class="p-button-sm"></button>

    <!-- <p-button (onClick)="minimoExistencia()"  label="Abastecimiento"></p-button> -->
    <button pButton type="button" label="Abastecimiento" (click)="minimoExistencia()" icon="pi pi-check" class="p-button-sm"></button>
    
    <!-- <p-button (onClick)="CrearUsuario()"  label="Usuario"></p-button> -->
    <button pButton type="button" label="Usuario" icon="pi pi-check" (click)="CrearUsuario()"  class="p-button"></button>
    
    <!-- <p-button (onClick)="CrearProvedor()"  label="Provedor"></p-button> -->
    <button pButton type="button" label="Provedor" (click)="CrearProvedor()" icon="pi pi-check" class="p-button-sm"></button>

    <!-- <p-button (onClick)="CrearDepartamento()"  label="Departamento"></p-button> -->
    <button pButton type="button" label="Departamento" (click)="CrearDepartamento()" icon="pi pi-check" class="p-button-sm"></button>

    <!-- <p-button (onClick)="CrearPuesto()"  label="Puesto"></p-button> -->
    <button pButton type="button" label="Puesto" (click)="CrearPuesto()" icon="pi pi-check" class="p-button-sm"></button>
    
    <!-- <p-button (onClick)="CrearCaja()"  label="Caja"></p-button> -->
    <button pButton type="button" label="Caja" (click)="CrearCaja()" icon="pi pi-check" class="p-button-sm"></button>
    
    <!-- <p-button (onClick)="inventario()"  label="Inventario"></p-button> -->
    <button pButton type="button" label="Inventario" (click)="inventario()" icon="pi pi-check" class="p-button-sm"></button>
    
    <!-- <p-button (onClick)="venta()"  label="Venta"></p-button> -->
    <button pButton type="button" label="Venta" (click)="venta()" icon="pi pi-check" class="p-button-sm"></button>

    <!-- <p-button class="p-button-sm" (onClick)="cliente()"  label="Cliente"></p-button> -->
    <button pButton type="button" label="Cliente" (click)="cliente()" icon="pi pi-check" class="p-button-sm"></button>
</div>
<div class="div-style">
<img class="imagen-style" (click)="irUsuario()" src="assets/img/usuario.jpg" alt="">
<p>Yo soy Pepe</p>
</div>
</div>
</div>
