<div class="content-body">
    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h4>Documentos</h4>
                    <p class="mb-0">Panel de documentación</p>
                </div>
            </div>
            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="['/admin/index']">App</a></li>
                    <!-- <li class="breadcrumb-item "><a [routerLink]="['/admin/mantenimiento-dashboard']">Mantenimiento</a></li> -->
                    <li class="breadcrumb-item active"><a href="javascript:void(0)">Documentos</a></li>
                </ol>
            </div>
        </div>


        <div class="card">
            <div class="col-xl-12 col-sm-12">
                <div class="row" style="margin-top: 40px; margin-bottom: 30px;">
                    <div class="col-xl-4 col-sm-4 border-end">
                        <div class="row">
                            <div class="col-xl-5 col-sm-5" style="text-align: center;">
                                <a [routerLink]="['/admin/documento-seguimiento']">
                                <img style="width: 140px;" src="../../../assets/images/documentos/mazda5.jpg" alt="">
                                </a>
                            </div>
                            <div class="col-xl-7 col-sm-7" style="text-align: center;">
                                <h4 class="titulo">Modelo</h4>
                                <p class="texto">Mazda CX-5</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-sm-2 border-end">
                        <div class="col-xl-12 col-sm-12" style="text-align: center;">
                            <h4>Placas</h4>
                            <img class="imagen" src="../../../assets/images/documentos/placas.png" alt="">
                        </div>
                    </div>
                    <div class="col-xl-2 col-sm-2 border-end">
                        <div class="col-xl-12 col-sm-12" style="text-align: center;">
                            <h4>Verificación</h4>
                            <img class="imagen" src="../../../assets/images/documentos/verificacion.png" alt="">
                        </div>
                    </div>
                    <div class="col-xl-2 col-sm-2 border-end">
                        <div class="col-xl-12 col-sm-12" style="text-align: center;">
                            <h4>Tenencia</h4>
                            <img class="imagen" src="../../../assets/images/documentos/tenencia.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-xl-2 col-sm-2">
                        <div class="col-xl-12 col-sm-12" style="text-align: center;">
                            <h4>Tarj. de circulación</h4>
                            <img class="imagen" src="../../../assets/images/documentos/tarjeta.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="col-xl-12 col-sm-12">
                <div class="row" style="margin-top: 40px; margin-bottom: 30px;">
                    <div class="col-xl-4 col-sm-4 border-end">
                        <div class="row">
                            <div class="col-xl-5 col-sm-5" style="text-align: center;">
                                <a [routerLink]="['/admin/documento-seguimiento']">
                                <img style="width: 140px;" src="../../../assets/images/documentos/toyota.jpg" alt="">
                                </a>
                            </div>
                            <div class="col-xl-7 col-sm-7" style="text-align: center;">
                                <h4 class="titulo">Modelo</h4>
                                <p class="texto">Toyota Rav4</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-sm-2 border-end">
                        <div class="col-xl-12 col-sm-12" style="text-align: center;">
                            <h4>Placas</h4>
                            <img class="imagen" src="../../../assets/images/documentos/placas2.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-xl-2 col-sm-2 border-end">
                        <div class="col-xl-12 col-sm-12" style="text-align: center;">
                            <h4>Verificación</h4>
                            <img class="imagen" src="../../../assets/images/documentos/verificacion.png" alt="">
                        </div>
                    </div>
                    <div class="col-xl-2 col-sm-2 border-end">
                        <div class="col-xl-12 col-sm-12" style="text-align: center;">
                            <h4>Tenencia</h4>
                            <img class="imagen" src="../../../assets/images/documentos/tenencia.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-xl-2 col-sm-2">
                        <div class="col-xl-12 col-sm-12" style="text-align: center;">
                            <h4>Tarj. de circulación</h4>
                            <img class="imagen" src="../../../assets/images/documentos/verificacion.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="col-xl-12 col-sm-12">
                <div class="row" style="margin-top: 40px; margin-bottom: 30px;">
                    <div class="col-xl-4 col-sm-4 border-end">
                        <div class="row">
                            <div class="col-xl-5 col-sm-5" style="text-align: center;">
                                <a [routerLink]="['/admin/documento-seguimiento']">
                                <img style="width: 140px;" src="../../../assets/images/documentos/sienna.jpg" alt="">
                                </a>
                            </div>
                            <div class="col-xl-7 col-sm-7" style="text-align: center;">
                                <h4 class="titulo">Modelo</h4>
                                <p class="texto">Toyota Sienna</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-sm-2 border-end">
                        <div class="col-xl-12 col-sm-12" style="text-align: center;">
                            <h4>Placas</h4>
                            <img class="imagen" src="../../../assets/images/documentos/placas3.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-xl-2 col-sm-2 border-end">
                        <div class="col-xl-12 col-sm-12" style="text-align: center;">
                            <h4>Verificación</h4>
                            <img class="imagen" src="../../../assets/images/documentos/verificacion.png" alt="">
                        </div>
                    </div>
                    <div class="col-xl-2 col-sm-2 border-end">
                        <div class="col-xl-12 col-sm-12" style="text-align: center;">
                            <h4>Tenencia</h4>
                            <img class="imagen" src="../../../assets/images/documentos/tenencia.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-xl-2 col-sm-2">
                        <div class="col-xl-12 col-sm-12" style="text-align: center;">
                            <h4>Tarj. de circulación</h4>
                            <img class="imagen" src="../../../assets/images/documentos/verificacion.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
    </div>

</div>