<!--<div class="card">
    <div class="card-header d-block d-sm-flex border-0">
        <div>
            <h3 class="fs-20 text-black">Mis vehículos</h3>
&lt;!&ndash;            <p class="mb-0 fs-12">Ubicacióin de mis vehículos en tiempo real</p>&ndash;&gt;
        </div>-->
  <!--      <div class="card-action card-tabs mt-3 mt-sm-0">
            <ul class="nav nav-tabs" role="tablist" ngbNav #nav="ngbNav" >
                <li class="nav-item" ngbNavItem="Week">
                    <a class="nav-link" data-toggle="tab" href="#Week" role="tab" aria-selected="false" ngbNavLink>
                        Todos
                    </a>
                    <ng-template ngbNavContent>
                        <div class="row">
                            <div class="col-xl-4 col-sm-4 lista">
                                <app-alerta></app-alerta>
                            </div>
                            <div class="col-xl-8 col-sm-8">
                                <img src="../../../../../assets/images/dashboard/mapa.png"
                                     alt="Ubicación de mis vehículos" class="mapa">
                            </div>
                        </div>
                    </ng-template>
                </li>
                <li class="nav-item" ngbNavItem="Month">
                    <a class="nav-link" data-toggle="tab" href="#Month" role="tab" aria-selected="false" ngbNavLink>
                        En línea
                    </a>
                    <ng-template ngbNavContent>

                    </ng-template>
                </li>
                <li class="nav-item" ngbNavItem="Year">
                    <a class="nav-link" data-toggle="tab" href="#Year" role="tab" aria-selected="false" ngbNavLink>
                        Desconectados
                    </a>
                    <ng-template ngbNavContent>

                    </ng-template>
                </li>
            </ul>
        </div>-->
<!--    </div>   -->
<!--<div class="card-body pb-2">-->
<!--    <div [ngbNavOutlet]="nav" class=""></div>-->
    <div class="row">
        <!--<div class="col-xl-4 col-sm-4 lista">
            <app-alerta></app-alerta>
        </div>-->
        <div class="col-xl-12 col-sm-12">
            <img src="../../../../../assets/images/dashboard/mapa.png"
                 alt="Ubicación de mis vehículos" class="mapa">
        </div>
    </div>
<!--</div>-->
<!--</div>-->
