<div class="authincation vh-100">
        <div class="container h-100">
            <div class="row justify-content-center h-100 align-items-center">
                <div class="col-md-8">
                    <div class="form-input-content text-center error-page">
                        <h1 class="error-text font-weight-bold">404</h1>
                        <h4><i class="fa fa-exclamation-triangle text-warning"></i> ¡No se encuentra en la página que estás buscando!</h4>
                        <p>La dirección es incorrecta o tal vez se ha movido.</p>
						<div>
                            <a class="btn btn-primary" [routerLink]="['/admin/index']">Regresar a inicio</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>