<div style="overflow: hidden">
    <div class="mb-3">
        <p class="mb-0 fs-15 text-black">Próximos a vencer</p>
    </div>
    <div class=" mb-3" style="overflow: hidden">
        <div class="table-responsive">
            <table class="table shadow-hover short-one  card-table  border-no">
                <tbody>
                <tr>
                    <td>
                        <span class="font-w600 text-black">Verificación</span>
                    </td>
                    <td>
                        <span class="text-black">18/04/22</span>
                    </td>
                    <td><a class="btn-link text-warning float-right" href="#">Por vencer</a></td>
                </tr>
                <tr>
                    <td>
                        <span class="font-w600 text-black">Seguro</span>
                    </td>
                    <td>
                        <span class="text-black">07/04/22</span>
                    </td>
                    <td>
                        <a class="btn-link text-dark float-right" href="#">Vence hoy</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="font-w600 text-black">Tenencia</span>
                    </td>
                    <td>
                        <span class="text-black">01/02/22</span>
                    </td>
                    <td>
                        <a class="btn-link text-danger float-right" href="#">Vencido</a>
                    </td>
                </tr>

                <tr>
                    <td>
                        <span class="font-w600 text-black">Verificación</span>
                    </td>
                    <td>
                        <span class="text-black">14/12/21</span>
                    </td>
                    <td>
                        <a class="btn-link text-danger float-right" href="#">Vencido</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="font-w600 text-black">Seguro</span>
                    </td>
                    <td>
                        <span class="text-black">11/11/21</span>
                    </td>
                    <td>
                        <a class="btn-link text-danger float-right" href="#">Vencido</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
