<mat-card class="register-card">
  <mat-card-header class="register-title">
    <mat-card-title>
      <h4>Registro</h4>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form
      (ngSubmit)="register()"
      class="register-form-container"
      [formGroup]="formRegisterGroup"
    >
      <mat-form-field>
        <input
          matInput
          placeholder="Correo electrónico"
          name="correo"
          maxlength="70"
          type="text"
          formControlName="correo"
        />
        <mat-error *ngIf="formRegisterGroup.get('correo').hasError('required')">
          El correo electrónico es requerido.
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          placeholder="Contraseña"
          name="contrasenia"
          maxlength="10"
          type="password"
          formControlName="contrasenia"
        />
        <mat-error
          *ngIf="formRegisterGroup.get('contrasenia').hasError('required')"
        >
          La contraseña es requerida.
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          placeholder="Nombre"
          name="nombre"
          maxlength="100"
          type="text"
          formControlName="nombre"
        />
        <mat-error *ngIf="formRegisterGroup.get('nombre').hasError('required')">
          El correo electrónico es requerido.
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          placeholder="Teléfono"
          name="telefono"
          maxlength="20"
          type="text"
          formControlName="telefono"
        />
        <mat-error
          *ngIf="formRegisterGroup.get('telefono').hasError('required')"
        >
          El correo electrónico es requerido.
        </mat-error>
      </mat-form-field>
      <br />

      <div mat-dialog-actions class="register-button" align="end">
        <button
          type="submit"
          matTooltip="Iniciar sesión"
          [disabled]="!formRegisterGroup.valid"
          class="btn btn-primary"
        >
          Registarse
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
